# compiled output
/node_modules

# Logs

# OS
.DS_Store

# Tests

# IDEs and editors
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE - VSCode
.vscode/*
.env
.env.*
!.env.example