@tailwind base;
@tailwind components;
@tailwind utilities;

/**********************************************************/
/* First Page Otherview */

.otherview_Balance {
	max-width: 100%;
	height: 128px;
	width: 400px;
	margin: 0;
	padding: 0;
}

.otherview_Cash_movements {
	max-width: 100%;
	height: auto;
	width: 600px;
	margin: 0;
	padding: 0;
}

.otherview_Cash_movements_First_Column {
	max-width: 100%;
	height: auto;
	width: 50%;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}

.otherview_Cash_movements_Second_Column {
	max-width: 100%;
	height: auto;
	width: 50%;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
}

/**********************************************************/
/* Second Page Transactions */

.transactions_Search_setting {
	width: 280px;
}


.transactions_Searcher_of_transactions {
	max-width: 100%;
	height: auto;
	width: 800px;
	margin: 0;
	padding: 0;
}


/**********************************************************/
@media (max-width: 1400px) {
	.otherview_Balance {
		width: 350px;
	}

	.otherview_Cash_movements {
		width: 525px;
	}

	.transactions_Searcher_of_transactions {
		width: 780px;
	}
}

@media (max-width: 1200px) {
	.otherview_Balance {
		width: 300px;
	}

	.otherview_Cash_movements {
		width: 450px;
	}

	.transactions_Searcher_of_transactions {
		width: 650px;
	}
}

@media (max-width: 1000px) {
	.otherview_Balance {
		width: 700px;
	}

	.otherview_Cash_movements {
		width: 700px;
	}

	.otherview_Cash_movements_First_Column {
		width: 100%;
		justify-content: center;
	}

	.otherview_Cash_movements_Second_Column {
		width: 100%;
		justify-content: center;
	}

	.transactions_Searcher_of_transactions {
		width: 400px;
	}
}

@media (max-width: 770px) {
	.otherview_Balance {
		width: 450px;
	}

	.otherview_Cash_movements {
		width: 450px;
	}

	.otherview_Cash_movements_First_Column {
		width: 100%;
		justify-content: center;
	}

	.otherview_Cash_movements_Second_Column {
		width: 100%;
		justify-content: center;
	}

	.transactions_Searcher_of_transactions {
		width: 270px;
	}
}

/**********************************************************/

body {
	overflow: hidden;
	overflow-y: auto;
}